<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TsouConsole.Properties.Settings.RedianHedianConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=RedianHedian;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>